* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: fantasy;
}

header {
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 64px;
    height: auto;
}